
/* header  */
.search_container {
  display: flex;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search_input {
  flex: 1;
  color: gray;
  padding: 5px 14px;
  border: none;
  outline: none;
  font-size: 16px;
}

.searchbutton_icon {
  background-color: #2b6abf;
  color: white;
  padding: 0 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.searchbutton_icon:hover {
  background-color: #2b6abf;
}

.Button_content{
  color: rgb(86, 78, 78) !important;
  font-size: 16px;
  padding: 0px 10px !important;
  font-weight: 600;
  border: 1px solid rgb(191, 187, 187) !important;
}
.ButtonMobile_content{
  color: rgb(86, 78, 78) !important;
  font-size: 16px;
  padding: 6px 10px !important;
  font-weight: 600;
  border: 1px solid rgb(191, 187, 187) !important;
}

/* leftSideBody content */
.MuiAccordion-root {
  margin: 0px !important;
}

.BrandCount_container{
  padding: 0px 10px !important;
  border: 1px solid #ddd9d9 !important;
  background-color: #e1e1f1 !important;
  border-radius: 4px;
}
.AccordionSummary_content .MuiAccordionSummary-content{
  margin: 0px !important;
}
.AccordionSummary_content.MuiAccordionSummary-root.Mui-expanded{
  min-height: 50px !important;
  padding: 0px !important;
  border: 1px solid rgb(238 221 221) !important;
  border-left: 0px solid !important;
  border-right: 0px solid !important;

  background-color: #FAFAFA !important;
}
.MuiSlider-rail{
  background-color: gray !important;
}
/* rightsidebody */
 

/* search content */

.search_content .MuiSelect-select{
padding: 5px 5px !important;
border: 1px solid rgb(194, 193, 193) !important;
}


/* footer */
.Footer_lable{
  font-size: 16px !important;
  color: #d0c7c7 !important;
  font-weight: 600 !important;
}


.Footer_textfield .MuiOutlinedInput-notchedOutline{
border: 0px solid !important;

}